*{
    margin: 0;
    padding: 0;
}

.titulo{
    color:#c0913b;
    font-style: oblique;
}
.sub-titulo{
    color: #c0913b;
}

.imagem{
    height: 300px;
    margin-top: 30;
    margin-right: 2%;
}

.texto-principal{
    width: 30%;  
    margin-left: 1%;
}

.container-principal{
    display:flex;
    justify-content: center;
    align-items: center;

}

body{
    text-align: center;
    background-color: rgb(106, 128, 82);
}