*{
    margin: 0;
    padding: 0;
}

.titulo{
    color:#295158;
    font-style: oblique;
}
.sub-titulo{
    color: #295158;
}

.imagem{
    height: 300px;
    margin-top: 30;
}

.texto-principal{
    width: 50%;   
}
.container-principal{
    display:flex;
    justify-content: center;

}

body{
    text-align: center;
    background-color: rgb(187, 214, 224);
}