*{
    margin: 0;
    padding: 0;
}

.titulo{
    color:#295158;
    font-style: oblique;
}
.sub-titulo{
    color: #295158;
}

.imagem{
    height: 300px;
    margin-top: 30;
}
.texto-principal{

}

body{
    text-align: center;
    background-color: rgb(116, 192, 223);
}